public/
docs/
tests/
src/
*.log*
.travis.yml
.eslintignore
*.map
dist/demo.html
dist/favicon.ico
vite.config.ts
tslint.json
postcss.config.json


.idea
.vscode
.bitmap
*.suo
*.ntvs*
*.njsproj
*.sln
.github/
