.one-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  padding: var(--one-default-padding, 1rem);
  list-style: none;

  &__headline {
    font-family: var(--one-default-font-family);
  }

  &__content {
    display: block;
  }
}
