:root {
  --color-yellow-800: rgb(255, 216, 0);
  --color-yellow-700: rgb(255, 155, 0);
  --color-yellow-600: rgb(255, 187, 0);
  --color-yellow-500: rgb(255, 216, 0);
  --color-yellow-400: rgb(255, 240, 0);
  --color-yellow-300: rgb(255, 248, 118);
  --color-yellow-200: rgb(255, 255, 175);
  --color-yellow-100: rgb(255, 255, 220);

  /* orange */
  --color-orange-800: rgb(162, 72, 0);
  --color-orange-700: rgb(192, 94, 0);
  --color-orange-600: rgb(215, 123, 0);
  --color-orange-500: rgb(243, 146, 0);
  --color-orange-400: rgb(248, 171, 55);
  --color-orange-300: rgb(250, 202, 127);
  --color-orange-200: rgb(252, 227, 180);
  --color-orange-100: rgb(255, 244, 216);

  /* red */
  --color-red-800: rgb(116, 0, 9);
  --color-red-700: rgb(155, 0, 14);
  --color-red-600: rgb(197, 0, 20);
  --color-red-500: rgb(236, 0, 22);
  --color-red-400: rgb(247, 80, 86);
  --color-red-300: rgb(250, 144, 144);
  --color-red-200: rgb(252, 200, 195);
  --color-red-100: rgb(254, 230, 230);

  /* burgundy */
  --color-burgundy-800: rgb(77, 8, 32);
  --color-burgundy-700: rgb(100, 30, 50);
  --color-burgundy-600: rgb(140, 46, 70);
  --color-burgundy-500: rgb(169, 69, 93);
  --color-burgundy-400: rgb(192, 104, 123);
  --color-burgundy-300: rgb(218, 154, 168);
  --color-burgundy-200: rgb(237, 203, 214);
  --color-burgundy-100: rgb(244, 232, 237);

  /* pink */
  --color-pink-800: rgb(151, 0, 82);
  --color-pink-700: rgb(184, 0, 101);
  --color-pink-600: rgb(219, 0, 120);
  --color-pink-500: rgb(233, 62, 143);
  --color-pink-400: rgb(238, 123, 174);
  --color-pink-300: rgb(244, 174, 206);
  --color-pink-200: rgb(249, 210, 229);
  --color-pink-100: rgb(253, 238, 248);

  /* violet */
  --color-violet-800: rgb(66, 24, 87);
  --color-violet-700: rgb(88, 29, 112);
  --color-violet-600: rgb(10, 54, 140);
  --color-violet-500: rgb(129, 73, 151);
  --color-violet-400: rgb(154, 108, 166);
  --color-violet-300: rgb(194, 161, 199);
  --color-violet-200: rgb(224, 205, 228);
  --color-violet-100: rgb(244, 238, 250);

  /* blue */
  --color-blue-800: rgb(6, 19, 80);
  --color-blue-700: rgb(10, 30, 110);
  --color-blue-600: rgb(12, 57, 146);
  --color-blue-500: rgb(20, 85, 192);
  --color-blue-400: rgb(52, 125, 224);
  --color-blue-300: rgb(115, 174, 244);
  --color-blue-200: rgb(180, 213, 246);
  --color-blue-100: rgb(224, 239, 251);

  /* cyan */
  --color-cyan-800: rgb(0, 75, 109);
  --color-cyan-700: rgb(0, 106, 150);
  --color-cyan-600: rgb(0, 135, 185);
  --color-cyan-500: rgb(48, 159, 209);
  --color-cyan-400: rgb(85, 185, 230);
  --color-cyan-300: rgb(132, 207, 239);
  --color-cyan-200: rgb(187, 230, 248);
  --color-cyan-100: rgb(229, 250, 255);

  /* green */
  --color-green-800: rgb(21, 74, 38);
  --color-green-700: rgb(22, 92, 39);
  --color-green-600: rgb(42, 114, 48);
  --color-green-500: rgb(64, 131, 53);
  --color-green-400: rgb(102, 165, 88);
  --color-green-300: rgb(140, 188, 128);
  --color-green-200: rgb(189, 219, 185);
  --color-green-100: rgb(226, 243, 229);

  /* light green */
  --color-light-green-800: rgb(55, 95, 21);
  --color-light-green-700: rgb(68, 116, 26);
  --color-light-green-600: rgb(80, 139, 27);
  --color-light-green-500: rgb(99, 166, 21);
  --color-light-green-400: rgb(120, 190, 20);
  --color-light-green-300: rgb(159, 212, 95);
  --color-light-green-200: rgb(201, 235, 158);
  --color-light-green-100: rgb(235, 247, 221);

  /* warm grey */
  --color-warm-grey-800: rgb(56, 52, 47);
  --color-warm-grey-700: rgb(79, 75, 65);
  --color-warm-grey-600: rgb(116, 112, 103);
  --color-warm-grey-500: rgb(133, 131, 121);
  --color-warm-grey-400: rgb(156, 154, 142);
  --color-warm-grey-300: rgb(188, 187, 178);
  --color-warm-grey-200: rgb(221, 222, 214);
  --color-warm-grey-100: rgb(245, 244, 241);

  /* cool grey */
  --color-cool-grey-800: rgb(19, 24, 33);
  --color-cool-grey-700: rgb(40, 45, 55);
  --color-cool-grey-600: rgb(60, 65, 75);
  --color-cool-grey-500: rgb(100, 105, 115);
  --color-cool-grey-400: rgb(135, 140, 150);
  --color-cool-grey-300: rgb(175, 180, 187);
  --color-cool-grey-200: rgb(215, 220, 225);
  --color-cool-grey-100: rgb(240, 243, 245);

  /* special grey */
  --special-grey-100: rgb(255, 255, 255);
  --special-grey-200: rgb(245, 245, 245);
  --special-grey-300: rgb(243, 245, 247);
  --special-grey-400: rgb(232, 235, 239);
  --special-grey-500: rgb(255, 255, 255);
  --special-grey-600: rgb(255, 255, 255);
  --special-grey-700: rgb(255, 255, 255);
  --special-grey-800: rgb(67, 67, 67);
  --special-grey-900: rgb(0, 0, 0);

  /* else */
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --special-db-red: rgb(222, 22, 35);

  /* coroperate color */
  --hsl-corporate-green-h: 115;
  --hsl-corporate-green-s: 51%;
  --hsl-corporate-green-l: 41%;
  --hsl-corporate-light-green-h: 79;
  --hsl-corporate-light-green-s: 59%;
  --hsl-corporate-light-green-l: 45%;
  --hsl-corporate-orange-h: 16;
  --hsl-corporate-orange-s: 76%;
  --hsl-corporate-orange-l: 54%;
  --hsl-corporate-light-orange-h: 25;
  --hsl-corporate-light-orange-s: 98%;
  --hsl-corporate-light-orange-l: 58%;
  --hsl-corporate-violet-h: 310;
  --hsl-corporate-violet-s: 88%;
  --hsl-corporate-violet-l: 27%;
  --hsl-corporate-light-violet-h: 320;
  --hsl-corporate-light-violet-s: 89%;
  --hsl-corporate-light-violet-l: 40%;

  --color-corporate-green: hsl(var(--hsl-corporate-green-h), var(--hsl-corporate-green-s), var(--hsl-corporate-green-l));
  --color-corporate-light-green: hsl(var(--hsl-corporate-light-green-h), var(--hsl-corporate-light-green-s), var(--hsl-corporate-light-green-l));
  --color-corporate-orange: hsl(var(--hsl-corporate-orange-h), var(--hsl-corporate-orange-s), var(--hsl-corporate-orange-l));
  --color-corporate-light-orange: hsl(var(--hsl-corporate-light-orange-h), var(--hsl-corporate-light-orange-s), var(--hsl-corporate-light-orange-l));
  --color-corporate-violet: hsl(var(--hsl-corporate-violet-h), var(--hsl-corporate-violet-s), var(--hsl-corporate-violet-l));
  --color-corporate-light-violet: hsl(var(--hsl-corporate-light-violet-h), var(--hsl-corporate-light-violet-s), var(--hsl-corporate-light-violet-l));

  --rgb-yellow-800: 255,216,0;
  --rgb-yellow-700: 255,155,0;
  --rgb-yellow-600: 255,187,0;
  --rgb-yellow-500: 255,216,0;
  --rgb-yellow-400: 255,240,0;
  --rgb-yellow-300: 255,248,118;
  --rgb-yellow-200: 255,255,175;
  --rgb-yellow-100: 255,255,220;

  /* orange */
  --rgb-orange-800: 162,72,0;
  --rgb-orange-700: 192,94,0;
  --rgb-orange-600: 215,123,0;
  --rgb-orange-500: 243,146,0;
  --rgb-orange-400: 248,171,55;
  --rgb-orange-300: 250,202,127;
  --rgb-orange-200: 252,227,180;
  --rgb-orange-100: 255,244,216;

  /* red */
  --rgb-red-800: 116,0,9;
  --rgb-red-700: 155,0,14;
  --rgb-red-600: 197,0,20;
  --rgb-red-500: 236,0,22;
  --rgb-red-400: 247,80,86;
  --rgb-red-300: 250,144,144;
  --rgb-red-200: 252,200,195;
  --rgb-red-100: 254,230,230;

  /* burgundy */
  --rgb-burgundy-800: 77,8,32;
  --rgb-burgundy-700: 100,30,50;
  --rgb-burgundy-600: 140,46,70;
  --rgb-burgundy-500: 169,69,93;
  --rgb-burgundy-400: 192,104,123;
  --rgb-burgundy-300: 218,154,168;
  --rgb-burgundy-200: 237,203,214;
  --rgb-burgundy-100: 244,232,237;

  /* pink */
  --rgb-pink-800: 151,0,82;
  --rgb-pink-700: 184,0,101;
  --rgb-pink-600: 219,0,120;
  --rgb-pink-500: 233,62,143;
  --rgb-pink-400: 238,123,174;
  --rgb-pink-300: 244,174,206;
  --rgb-pink-200: 249,210,229;
  --rgb-pink-100: 253,238,248;

  /* violet */
  --rgb-violet-800: 66,24,87;
  --rgb-violet-700: 88,29,112;
  --rgb-violet-600: 10,54,140;
  --rgb-violet-500: 129,73,151;
  --rgb-violet-400: 154,108,166;
  --rgb-violet-300: 194,161,199;
  --rgb-violet-200: 224,205,228;
  --rgb-violet-100: 244,238,250;

  /* blue */
  --rgb-blue-800: 6,19,80;
  --rgb-blue-700: 10,30,110;
  --rgb-blue-600: 12,57,146;
  --rgb-blue-500: 20,85,192;
  --rgb-blue-400: 52,125,224;
  --rgb-blue-300: 115,174,244;
  --rgb-blue-200: 180,213,246;
  --rgb-blue-100: 224,239,251;

  /* cyan */
  --rgb-cyan-800: 0,75,109;
  --rgb-cyan-700: 0,106,150;
  --rgb-cyan-600: 0,135,185;
  --rgb-cyan-500: 48,159,209;
  --rgb-cyan-400: 85,185,230;
  --rgb-cyan-300: 132,207,239;
  --rgb-cyan-200: 187,230,248;
  --rgb-cyan-100: 229,250,255;

  /* green */
  --rgb-green-800: 21,74,38;
  --rgb-green-700: 22,92,39;
  --rgb-green-600: 42,114,48;
  --rgb-green-500: 64,131,53;
  --rgb-green-400: 102,165,88;
  --rgb-green-300: 140,188,128;
  --rgb-green-200: 189,219,185;
  --rgb-green-100: 226,243,229;

  /* light green */
  --rgb-light-green-800: 55,95,21;
  --rgb-light-green-700: 68,116,26;
  --rgb-light-green-600: 80,139,27;
  --rgb-light-green-500: 99,166,21;
  --rgb-light-green-400: 120,190,20;
  --rgb-light-green-300: 159,212,95;
  --rgb-light-green-200: 201,235,158;
  --rgb-light-green-100: 235,247,221;

  /* warm grey */
  --rgb-warm-grey-800: 56,52,47;
  --rgb-warm-grey-700: 79,75,65;
  --rgb-warm-grey-600: 116,112,103;
  --rgb-warm-grey-500: 133,131,12;
  --rgb-warm-grey-400: 156,154,142;
  --rgb-warm-grey-300: 188,187,178;
  --rgb-warm-grey-200: 221,222,214;
  --rgb-warm-grey-100: 245,244,241;

  /* cool grey */
  --rgb-cool-grey-800: 19,24,33;
  --rgb-cool-grey-700: 40,45,55;
  --rgb-cool-grey-600: 60,65,75;
  --rgb-cool-grey-500: 100,105,115;
  --rgb-cool-grey-400: 135,140,150;
  --rgb-cool-grey-300: 175,180,187;
  --rgb-cool-grey-200: 215,220,225;
  --rgb-cool-grey-100: 240,243,245;

  /* special grey */
  --rgb-special-grey-100: 255,255,255;
  --rgb-special-grey-200: 245,245,245;
  --rgb-special-grey-300: 243,245,247;
  --rgb-special-grey-400: 232,235,239;
  --rgb-special-grey-500: 255,255,255;
  --rgb-special-grey-600: 255,255,255;
  --rgb-special-grey-700: 255,255,255;
  --rgb-special-grey-800: 67,67,67;

  /* else */
  --rgb-white: 255,255,255;
  --rgb-black: 0,0,0;
}
