.components-view {
  &__menu {
    background-color: var(--color-cool-grey-100);
    width: 200px;
    height: 100%;
  }
  &__navigation {
    margin: 1rem;
    height: 40px;
    background-color: var(--color-cyan-100);
    border-radius: 8px;
  }
  &__logo {
    font-size: 2rem;
  }
}
