.main {
  margin: 0 auto;
  max-width: 112.4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

@media screen and (min-width: 64rem) {
  .main {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
