:root {
  --one-padding: 1rem;
  /* PRIMARY */
  --one-state-primary-color: rgb(12, 97, 255);
  --one-state-primary-font-color: rgb(255, 255, 255);
  --one-state-primary-outline-color: rgba(12, 97, 255, .4);
  /* SECONDARY */
  --one-state-secondary-color: rgb(89, 98, 106);
  --one-state-secondary-font-color: rgb(255, 255, 255);
  --one-state-secondary-outline-color: rgba(89, 98, 106, .4);
  /* SUCCESS */
  --one-state-success-color: rgb(37, 155, 53);
  --one-state-success-font-color: rgb(255, 255, 255);
  --one-state-success-outline-color: rgba(37, 155, 53, .4);
  /* DANGER */
  --one-state-danger-color: rgb(209, 30, 63);
  --one-state-danger-font-color: rgb(255, 255, 255);
  --one-state-danger-outline-color: rgba(209, 30, 63, .4);
  /* WARNING */
  --one-state-warning-color: rgb(253, 181, 12);
  --one-state-warning-font-color: rgb(0, 0, 0);
  --one-state-warning-outline-color: rgba(253, 181, 12, .4);
  /* INFO */
  --one-state-info-color: rgb(26, 146, 189);
  --one-state-info-font-color: rgb(255, 255, 255);
  --one-state-info-outline-color: rgba(26, 146, 189, .4);
  /* LIGHT */
  --one-state-light-color: rgb(246, 247, 249);
  --one-state-light-font-color: rgb(0, 0, 0);
  --one-state-light-outline-color: rgba(246, 247, 249, .4);
  /* DARK */
  --one-state-dark-color: rgb(39, 44, 49);
  --one-state-dark-font-color: rgb(255, 255, 255);
  --one-state-dark-outline-color: rgba(39, 44, 49, .4);
  /* OUTLINE */
}
