@import '_font.css';

@import '_normalize.css';
@import '_reset.css';

@import '_main.postcss';
@import '_article.postcss';
@import '_block.postcss';
@import '_heading.postcss';
@import '_table.postcss';
@import '_example.postcss';

@import '_flex-helper.postcss';
@import '_app.postcss';
@import '_list.postcss';
@import '_componentsView.postcss';

html {
  /*
   * 1rem = 10px      
   * 10px = 0.625rem  ( 62.5%)
   * 12px = 0.75rem   (   75%)
   * 14px = 0.875rem  ( 87.5%)
   * 16px = 1rem      (  100%)
   * 18px = 1.125rem  (112.5%)
   * 20px = 1.25rem   (  125%)
   * 24px = 1.5rem    (  150%)
   * 30px = 1.875rem  (187.5%)
   * 32px = 2rem      (  200%)
   */
  font-size: 62.5%; /* => 1rem = 10px */
}

body {
  font-family: var(--one-font-body);
  font-size: 1.6rem;
}

::selection {
  background: hsl(32,78.8%,92%);
  color: hsl(32,78.8%,40%);
}

a {
  text-decoration-color: hsl(var(--hsl-corporate-violet-h), var(--hsl-corporate-violet-s), 85%);
  color: var(--color-corporate-light-violet);
}

#app {
  width: 100vw;
  height: 100vh;
}
