.one-list {
  margin: var(--one-default-padding, 1rem);
  list-style: none;
}

.one-listitem {
  padding: 4px 8px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;

  &:hover:not(.one-listitem--active) {
    background-color: var(--color-cool-grey-100);
  }

  &--selected, &--active {
    color: var(--color-white);
    background-color: var(--color-blue-400);
  }

  a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
}
