.one-list {
  margin: var(--one-default-padding, 1em);
  list-style: none;
}

.one-listitem {
  padding: 4px 8px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--color-cool-grey-700);

  &--selected, &--active {
    background-color: var(--color-cool-grey-200);
  }

  a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
}
